Repository ROCm/composable_kernel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @junliume @illsilin @carlushuang @aosewski @poyenc @geyyer @bartekxk
# Documentation files
docs/ @ROCm/rocm-documentation @junliume @illsilin @carlushuang @aosewski @poyenc @geyyer @bartekxk
*.md @ROCm/rocm-documentation @junliume @illsilin @carlushuang @aosewski @poyenc @geyyer @bartekxk
*.rst @ROCm/rocm-documentation @junliume @illsilin @carlushuang @aosewski @poyenc @geyyer @bartekxk
.readthedocs.yaml @ROCm/rocm-documentation @junliume @illsilin @carlushuang @aosewski @poyenc @geyyer @bartekxk
# Header directory for Doxygen documentation
library/include/ @ROCm/rocm-documentation @junliume @illsilin @carlushuang @aosewski @poyenc @geyyer @bartekxk

Revert Support access per groups and filter2x3 in grouped conv fwd (#1382)
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_fwd_multiple_abd_xdl_cshuffle.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_merged_groups_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_xdl_merged_groups.inc
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_f32_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_f32_instance.cpp
  script/check_copyright_year.sh
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk, @ROCm/rocm-documentation

Fix error in RoPE host reference
  include/ck_tile/host/reference/reference_batched_rotary_position_embedding.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Handle RoPE half-rotated logics
  example/ck_tile/01_fmha/fmha_fwd.cpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_default_policy.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

fix epilogue problem
  example/ck_tile/01_fmha/codegen/ops/fmha_bwd.py
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Rewrite .sh test to Gtest
  script/test_reduce_with_index.sh
  test/reduce/CMakeLists.txt
  test/reduce/reduce_with_index.cpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Rewrite .sh test to Gtest
  script/check_copyright_year.sh
  script/test_reduce_no_index.sh
  test/reduce/CMakeLists.txt
  test/reduce/reduce_no_index.cpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Revert Support access per groups and filter2x3 in grouped conv fwd (#1382) (#1406)
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_fwd_multiple_abd_xdl_cshuffle.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_merged_groups_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_xdl_merged_groups.inc
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_f32_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_f32_instance.cpp
  script/check_copyright_year.sh
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk, @ROCm/rocm-documentation

Revert Support access per groups and filter2x3 in grouped conv fwd (#1382) (#1406)
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_fwd_multiple_abd_xdl_cshuffle.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_merged_groups_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_xdl_merged_groups.inc
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_f32_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_f32_instance.cpp
  script/check_copyright_year.sh
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk, @ROCm/rocm-documentation

Revert Support access per groups and filter2x3 in grouped conv fwd (#1382) (#1406)
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_fwd_multiple_abd_xdl_cshuffle.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_merged_groups_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_xdl_merged_groups.inc
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/merged_groups/device_grouped_conv2d_fwd_xdl_merged_groups_nhwgc_gkyxc_nhwgk_f32_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/merged_groups/device_grouped_conv3d_fwd_xdl_merged_groups_ndhwgc_gkzyxc_ndhwgk_f32_instance.cpp
  script/check_copyright_year.sh
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk, @ROCm/rocm-documentation

Rewrite .sh tests to gtests: no index
  test/reduce/CMakeLists.txt
  test/reduce/reduce_no_index.cpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

review chnages
  test/reduce/CMakeLists.txt
  test/reduce/reduce_no_index.cpp
  test/reduce/reduce_with_index.cpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Removew unused comments
  test/reduce/reduce_no_index.cpp
  test/reduce/reduce_with_index.cpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

disable -enable-post-misched=0 flag for ASAN builds
  CMakeLists.txt
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Add ConvScale+Bias Instances
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_binary_outelementop_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_convscale_add.hpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_convscale_add/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_convscale_add/xdl/device_grouped_conv3d_fwd_xdl_convscale_add_ndhwgc_gkzyxc_ndhwgk_f8_instance.cpp
Owners: @ROCm/rocm-documentation, @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Support 8x rotary_dim under half-rotated RoPE
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_default_policy.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

fix fwd dropout
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd_splitkv.py
  include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_fp8.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qx_ks_vs_custom_policy.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Add comment
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Apply elementwise function to the loaded tiles
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Unify parameter/variable naming style
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Remove constness from q_ptr
  example/ck_tile/01_fmha/fmha_fwd.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_default_policy.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Add code blocks for q_tile
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Apply RoPE to q_tile
  example/ck_tile/01_fmha/fmha_fwd.cpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Remove debug print code in kernel
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Fix wrong knew/vnew appending positions
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

group convert_dq opt
  include/ck_tile/ops/fmha/kernel/fmha_bwd_kernel.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Use better naming for tile indices
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_tile_partitioner.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Add make_tile_window() for adding distribution only
  include/ck_tile/core/tensor/tile_window.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Skip code if # of block is more than needed
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Move thread locating logics into policy
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_default_policy.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Remove always true static_assert()
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Rename header
  include/ck_tile/ops/fmha.hpp
  include/ck_tile/ops/fmha/block/block_rotary_embedding.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/tile_fmha_traits.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Rename RotaryEmbeddingEnum
  example/ck_tile/01_fmha/codegen/cpp_symbol_map.py
  example/ck_tile/01_fmha/fmha_fwd.hpp
  example/ck_tile/01_fmha/rotary.hpp
  include/ck_tile/ops/fmha/block/block_rotary_embedding.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_default_policy.hpp
  include/ck_tile/ops/fmha/pipeline/tile_fmha_traits.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Extract rotary embedding logic out
  include/ck_tile/ops/fmha/block/block_rotary_embedding.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Re-order parameters
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Review v2
  test/reduce/reduce_no_index.cpp
  test/reduce/reduce_with_index.cpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Align naming of some tile size constants
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_tile_partitioner.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_default_policy.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_problem.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Rename more tile size constants
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_tile_partitioner.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_default_policy.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_problem.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Typo
  test/reduce/reduce_no_index.cpp
  test/reduce/reduce_with_index.cpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Fix wrong grid size
  example/ck_tile/01_fmha/fmha_fwd.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_tile_partitioner.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk

Fix wrong shape of knew_host/vnew_host
  example/ck_tile/01_fmha/fmha_fwd.cpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
Owners: @junliume, @illsilin, @carlushuang, @aosewski, @poyenc, @geyyer, @bartekxk
