Repository ROCm/composable_kernel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @zjing14 @junliume @illsilin @carlushuang @aosewski @yigex
# Documentation files
docs/* @ROCm/rocm-documentation @zjing14 @junliume @illsilin @carlushuang @aosewski @yigex
*.md @ROCm/rocm-documentation @zjing14 @junliume @illsilin @carlushuang @aosewski @yigex
*.rst @ROCm/rocm-documentation @zjing14 @junliume @illsilin @carlushuang @aosewski @yigex
.readthedocs.yaml @ROCm/rocm-documentation @zjing14 @junliume @illsilin @carlushuang @aosewski @yigex
# Header directory for Doxygen documentation
library/include/* @ROCm/rocm-documentation @zjing14 @junliume @illsilin @carlushuang @aosewski @yigex

Remove redundant direction parameter in fwd&bwd codegen logics
  example/ck_tile/01_fmha/codegen/ops/fmha_bwd.py
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Support generate multiple APIs for an example
  example/ck_tile/01_fmha/CMakeLists.txt
  example/ck_tile/01_fmha/codegen/cmake_config.py
  example/ck_tile/01_fmha/codegen/cpp_symbol_map.py
  example/ck_tile/01_fmha/codegen/ops/fmha_bwd.py
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
  example/ck_tile/01_fmha/generate.py
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Let 'api' an alias of 'direction' option
  example/ck_tile/01_fmha/CMakeLists.txt
  example/ck_tile/01_fmha/generate.py
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Remove choices for the 'direction' option
  example/ck_tile/01_fmha/generate.py
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

WA for rocm-6.2+ s constrait for buffer resource (#1346)
  include/ck/utility/amd_buffer_addressing.hpp
  include/ck_tile/core/arch/amd_buffer_addressing.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

WA for rocm-6.2+ s constrait for buffer resource (#1346)
  include/ck/utility/amd_buffer_addressing.hpp
  include/ck_tile/core/arch/amd_buffer_addressing.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

WA for rocm-6.2+ s constrait for buffer resource (#1346)
  include/ck/utility/amd_buffer_addressing.hpp
  include/ck_tile/core/arch/amd_buffer_addressing.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Add instances of grouped convolution 3d forward with a ConvScale element-wise op for bf8@bf8->fp8 (#1326)
  client_example/24_grouped_conv_activation/CMakeLists.txt
  client_example/24_grouped_conv_activation/grouped_convnd_fwd_convscale/conv3d_fwd_convscale_bf8.cpp
  client_example/CMakeLists.txt
  example/62_convnd_activ/convscale/CMakeLists.txt
  example/62_convnd_activ/convscale/convnd_fwd_xdl_convscale_bf8.cpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_outelementop_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_convscale.hpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_convscale/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_convscale/xdl/device_grouped_conv3d_fwd_xdl_convscale_ndhwgc_gkzyxc_ndhwgk_bf8_instance.cpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Add instances of grouped convolution 3d forward with a ConvScale element-wise op for bf8@bf8->fp8 (#1326)
  client_example/24_grouped_conv_activation/CMakeLists.txt
  client_example/24_grouped_conv_activation/grouped_convnd_fwd_convscale/conv3d_fwd_convscale_bf8.cpp
  client_example/CMakeLists.txt
  example/62_convnd_activ/convscale/CMakeLists.txt
  example/62_convnd_activ/convscale/convnd_fwd_xdl_convscale_bf8.cpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_outelementop_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_convscale.hpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_convscale/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_convscale/xdl/device_grouped_conv3d_fwd_xdl_convscale_ndhwgc_gkzyxc_ndhwgk_bf8_instance.cpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Add instances of grouped convolution 3d forward with a ConvScale element-wise op for bf8@bf8->fp8 (#1326)
  client_example/24_grouped_conv_activation/CMakeLists.txt
  client_example/24_grouped_conv_activation/grouped_convnd_fwd_convscale/conv3d_fwd_convscale_bf8.cpp
  client_example/CMakeLists.txt
  example/62_convnd_activ/convscale/CMakeLists.txt
  example/62_convnd_activ/convscale/convnd_fwd_xdl_convscale_bf8.cpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_outelementop_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_convscale.hpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_convscale/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_convscale/xdl/device_grouped_conv3d_fwd_xdl_convscale_ndhwgc_gkzyxc_ndhwgk_bf8_instance.cpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

refactor layernorm2d_fwd example
  example/ck_tile/02_layernorm2d/README.md
  example/ck_tile/02_layernorm2d/layernorm2d_fwd.cpp
  example/ck_tile/02_layernorm2d/layernorm2d_fwd.hpp
  include/ck_tile/ops/layernorm2d.hpp
  include/ck_tile/ops/layernorm2d/kernel/layernorm2d_fwd_kernel.hpp
  include/ck_tile/ops/welford.hpp
  include/ck_tile/ops/welford/thread/thread_welford.hpp
  include/ck_tile/ops/welford/warp/warp_welford.hpp
Owners: @ROCm/rocm-documentation, @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

wa prec, remove sgpr offset for inline asm
  include/ck_tile/core/arch/amd_buffer_addressing.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_async.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Use dictionary to config all the functions
  example/ck_tile/01_fmha/generate.py
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

layernorm2d forward (#1339)
  example/ck_tile/02_layernorm2d/CMakeLists.txt
  example/ck_tile/02_layernorm2d/README.md
  example/ck_tile/02_layernorm2d/layernorm2d_fwd.cpp
  example/ck_tile/02_layernorm2d/layernorm2d_fwd.hpp
  example/ck_tile/CMakeLists.txt
  include/ck_tile/core.hpp
  include/ck_tile/core/numeric/null_type.hpp
  include/ck_tile/host.hpp
  include/ck_tile/host/check_err.hpp
  include/ck_tile/host/reference/reference_layernorm2d.hpp
  include/ck_tile/ops/layernorm2d.hpp
  include/ck_tile/ops/layernorm2d/kernel/layernorm2d_fwd_kernel.hpp
  include/ck_tile/ops/layernorm2d/pipeline/block_layernorm2d_fwd_problem.hpp
  include/ck_tile/ops/layernorm2d/pipeline/tile_layernorm2d_fwd_shape.hpp
  include/ck_tile/ops/welford.hpp
  include/ck_tile/ops/welford/thread/thread_welford.hpp
  include/ck_tile/ops/welford/warp/warp_welford.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex, @ROCm/rocm-documentation

layernorm2d forward (#1339)
  example/ck_tile/02_layernorm2d/CMakeLists.txt
  example/ck_tile/02_layernorm2d/README.md
  example/ck_tile/02_layernorm2d/layernorm2d_fwd.cpp
  example/ck_tile/02_layernorm2d/layernorm2d_fwd.hpp
  example/ck_tile/CMakeLists.txt
  include/ck_tile/core.hpp
  include/ck_tile/core/numeric/null_type.hpp
  include/ck_tile/host.hpp
  include/ck_tile/host/check_err.hpp
  include/ck_tile/host/reference/reference_layernorm2d.hpp
  include/ck_tile/ops/layernorm2d.hpp
  include/ck_tile/ops/layernorm2d/kernel/layernorm2d_fwd_kernel.hpp
  include/ck_tile/ops/layernorm2d/pipeline/block_layernorm2d_fwd_problem.hpp
  include/ck_tile/ops/layernorm2d/pipeline/tile_layernorm2d_fwd_shape.hpp
  include/ck_tile/ops/welford.hpp
  include/ck_tile/ops/welford/thread/thread_welford.hpp
  include/ck_tile/ops/welford/warp/warp_welford.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex, @ROCm/rocm-documentation

layernorm2d forward (#1339)
  example/ck_tile/02_layernorm2d/CMakeLists.txt
  example/ck_tile/02_layernorm2d/README.md
  example/ck_tile/02_layernorm2d/layernorm2d_fwd.cpp
  example/ck_tile/02_layernorm2d/layernorm2d_fwd.hpp
  example/ck_tile/CMakeLists.txt
  include/ck_tile/core.hpp
  include/ck_tile/core/numeric/null_type.hpp
  include/ck_tile/host.hpp
  include/ck_tile/host/check_err.hpp
  include/ck_tile/host/reference/reference_layernorm2d.hpp
  include/ck_tile/ops/layernorm2d.hpp
  include/ck_tile/ops/layernorm2d/kernel/layernorm2d_fwd_kernel.hpp
  include/ck_tile/ops/layernorm2d/pipeline/block_layernorm2d_fwd_problem.hpp
  include/ck_tile/ops/layernorm2d/pipeline/tile_layernorm2d_fwd_shape.hpp
  include/ck_tile/ops/welford.hpp
  include/ck_tile/ops/welford/thread/thread_welford.hpp
  include/ck_tile/ops/welford/warp/warp_welford.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex, @ROCm/rocm-documentation

Move fmha splitkv codegen logics to other file
  example/ck_tile/01_fmha/fmha_fwd_splitkv.py
  example/ck_tile/01_fmha/generate.py
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Add fwd_splitkv api for tile_example_fmha_fwd
  example/ck_tile/01_fmha/CMakeLists.txt
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

add ck_tile tests to CI
  Jenkinsfile
  example/ck_tile/01_fmha/script/benchmark_bwd.sh
  example/ck_tile/01_fmha/script/smoke_test_bwd.sh
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

build and run ck_tile tests on gfx90a and gfx942 in parallel
  Jenkinsfile
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

fix groovy syntax
  Jenkinsfile
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

turn ck_tile tests OFF by default
  Jenkinsfile
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Add init codegen logic for fmha fwd appendkv
  example/ck_tile/01_fmha/CMakeLists.txt
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd_appendkv.py
  example/ck_tile/01_fmha/fmha_fwd.cpp
  example/ck_tile/01_fmha/fmha_fwd.hpp
  example/ck_tile/01_fmha/generate.py
  include/ck_tile/ops/fmha.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_tile_partitioner.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_default_policy.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_problem.hpp
  include/ck_tile/ops/fmha/pipeline/tile_fmha_traits.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

skip creating the build folder
  Jenkinsfile
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

build ck_tile examples with 64 threads
  Jenkinsfile
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Call HIP_CHECK_ERROR() macro to get real source info
  include/ck_tile/host/kernel_launch.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Setup meaningfull arguments
  example/ck_tile/01_fmha/fmha_fwd.cpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Sync kernel name with the codegen
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd_appendkv.py
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

macro for set tile
  include/ck_tile/core/config.hpp
  include/ck_tile/core/tensor/tile_elementwise.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

build ck_tile examples with cmake-ck-dev.sh script
  Jenkinsfile
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

fix build issues on gfx1100 alone
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_two_stage_xdl_cshuffle.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_fwd_multiple_abd_xdl_cshuffle_v3.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Replace hipDeviceSynchronize() by hipStreamSynchronize(stream) calls
  include/ck_tile/host/timer.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

add video group to docker on mi300
  Jenkinsfile
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Update README.md
  example/01_gemm/README.md
Owners: @ROCm/rocm-documentation, @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Add knew/vnew tensors to the kernel argument
  example/ck_tile/01_fmha/fmha_fwd.cpp
  example/ck_tile/01_fmha/fmha_fwd.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

Fix wrong K values after appending
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd_appendkv.py
  example/ck_tile/01_fmha/fmha_fwd.cpp
  example/ck_tile/01_fmha/fmha_fwd.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_kernel.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_appendkv_tile_partitioner.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_default_policy.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_fwd_appendkv_pipeline_problem.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

do not retry to rebuild the early CI stages
  Jenkinsfile
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

fixing clang-format issues
  example/01_gemm/README.md
  example/01_gemm/common.hpp
  example/01_gemm/run_gemm_example_streamk_v2.inc
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_comp_default_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_comp_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_comp_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_comp_mnpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_mem_v1_default_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_mem_v1_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_mem_v1_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_mem_v2_default_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_mem_v2_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_kn_mn_mem_v2_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_comp_default_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_comp_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_comp_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_comp_mnpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_mem_v1_default_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_mem_v1_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_mem_v1_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_mem_v2_default_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_mem_v2_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/gemm_universal_streamk/device_gemm_xdl_universal_streamk_f16_f16_f16/device_gemm_xdl_universal_streamk_f16_f16_f16_mk_nk_mn_mem_v2_mnkpadding_instance.cpp
Owners: @ROCm/rocm-documentation, @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

removed conflicts in struct members between streamk and unievrsal streamk
  example/01_gemm/common.hpp
  example/01_gemm/gemm_xdl_fp16_streamk_v3.cpp
  example/01_gemm/run_gemm_example_streamk_v2.inc
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex

corrected arg parsing for streamk and universal streamk
  example/01_gemm/common.hpp
Owners: @zjing14, @junliume, @illsilin, @carlushuang, @aosewski, @yigex
