Repository ROCm/composable_kernel, pull requests merged in 2024-03, with the labels that each got.

#1182 Update clipping for fp8/bf8 conversion
  include/ck/utility/type_convert.hpp
Labels: CI - Pass

#1186 Update link
  docs/dockerhub.rst
Labels: ci:docs-only

#1191 Cherrypick codeowners and link fix, bump rocm-docs-core
  .github/CODEOWNERS
  docs/dockerhub.rst
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Labels: ci:docs-only

#1188 Refactor tolerances for correctness check in gemm op
  example/01_gemm/gemm_xdl_fp16_fp8.cpp
  example/01_gemm/run_gemm_example.inc
Labels: CI - Pass

#1189 Doc reorg2
  docs/conceptual/what-is-ck.rst
  docs/index.rst
  docs/install/dockerhub.rst
  docs/license.md
  docs/license.rst
  docs/reference/API_Reference_Guide.rst
  docs/reference/Supported_Primitives_Guide.rst
  docs/reference/wrapper.rst
  docs/sphinx/_toc.yml.in
  docs/tutorial/tutorial_hello_world.rst
Labels: documentation, ci:docs-only

#1193 Add instances for conv_scale with fp8 in/out
  client_example/16_convnd_fwd/CMakeLists.txt
  client_example/16_convnd_fwd/conv3d_fwd_fp8.cpp
  example/09_convnd_fwd/CMakeLists.txt
  example/09_convnd_fwd/convnd_fwd_common.hpp
  example/09_convnd_fwd/convnd_fwd_xdl_fp8.cpp
  example/30_grouped_conv_fwd_multiple_d/run_grouped_conv_fwd_bias_relu_add_wmma_example.inc
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward.hpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/device_grouped_conv3d_fwd_xdl_ndhwgc_gkzyxc_ndhwgk_fp8_instance.cpp
  profiler/src/profile_grouped_conv_fwd.cpp
Labels: CI - Pass
