Repository ROCm/composable_kernel, pull requests merged in 2025-07, with the labels that each got.

#2416 updating the doxyfile and the index.rst so that it gets the full API
  docs/doxygen/Doxyfile
  docs/index.rst
Labels: documentation, ci:docs-only

#2497 removed broken blog link
  docs/tutorial/tutorial_hello_world.rst
Labels: documentation, ci:docs-only

#2512 [CK] Fixed MPerBlock=32 build issue for MXFP4 GEMM decode
  include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_v3_mx_bpreshuffle.hpp
  library/src/tensor_operation_instance/gpu/gemm_mx/device_gemm_mx_xdl_f4_f4_f16/device_gemm_mx_xdl_f4_f4_f16_mk_mfma_mn.hpp
Labels: CI - Pass

#2522 Revamp TERMINOLOGY.md
  TERMINOLOGY.md
Labels: documentation

#2590 Cherry pick doc changes into 6.4.3
  .gitignore
  CONTRIBUTORS.md
  README.md
  docs/conceptual/Composable-Kernel-math.rst
  docs/conceptual/Composable-Kernel-structure.rst
  docs/conceptual/what-is-ck.rst
  docs/doxygen/Doxyfile
  docs/index.rst
  docs/install/Composable-Kernel-Docker.rst
  docs/install/Composable-Kernel-install.rst
  docs/install/Composable-Kernel-prerequisites.rst
  docs/install/dockerhub.rst
  docs/reference/API_Reference_Guide.rst
  docs/reference/Composable-Kernel-wrapper.rst
  docs/reference/Composable_Kernel_custom_types.rst
  docs/reference/Composable_Kernel_supported_scalar_types.rst
  docs/reference/Composable_Kernel_vector_utilities.rst
  docs/sphinx/_toc.yml.in
  docs/tutorial/Composable-Kernel-examples.rst
  docs/tutorial/tutorial_hello_world.rst
Labels: documentation, ci:docs-only
